body {
    display: flex;
    flex-direction: column;
    height: 100vh;
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: rgb(227, 240, 251);
    background-image: url(images/bg2.jpg);
}

header {
    flex: 0 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 20px;
    letter-spacing: 2px;
    width: 80%;
    margin: auto;
    color: antiquewhite;
    text-shadow: 2px 2px 4px #5a5757;
}

main {
    flex: 1 1 auto;
    min-height: 0;
    overflow-y: auto;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    box-sizing: border-box;
    letter-spacing: 2px;

    /* Hide scrollbar for Chrome, Safari, Opera, and newer Edge */
    &::-webkit-scrollbar {
        display: none;
    }

    /* Hide scrollbar for Firefox */
    scrollbar-width: none;

    /* Hide scrollbar for IE and legacy Edge */
    -ms-overflow-style: none;
}

button {
    width: 30%;
    height: 50px;
    background-color: transparent;
    border: none;
    border-radius: 20px;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    margin: 10px auto;
    font-size: larger;
    transition: 0.2s ease all;
}

.ss {
   width: 70%;
   height: auto;
   border: 1px solid black;
   padding: 5px;
   margin: auto;
   background-color: hsl(35, 86%, 97%);
   margin-bottom: 40px;
}

.title{
    width: 100%;
    border: 1px solid black;
    margin: auto;
    text-align: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
}

.one {
    background-color: hsl(207, 61%, 76%);
}

.two {
    background-color: hsl(136, 80%, 59%);
}

.three {
    background-color: hsl(69, 69%, 66%);
}

.four {
    background-color: hsl(309, 63%, 72%);
}

p {
    text-align: center;
    letter-spacing: 1.5px;
    font-weight: 700;
}

.key {
    color: hsl(240, 61%, 45%);
    margin-top: 19px;
}

.design, 
.implementation {
    color: hsl(139, 63%, 35%);
    margin-top: 19px;
}

.implementation {
    margin-top: 35px;
}

.testing {
    color: hsl(47, 83%, 31%);
    margin-top: 19px;
}

.task {
    color: rgb(82, 12, 69);
    margin-top: 19px;
}

li {
    font-size: 1rem;
    letter-spacing: 1.5px;
    margin-bottom: 30px;
}

.stages {
    width: 90%;
    border: 1px solid gray;
    padding: 10px;
}

.onee {
    background-color: hsl(295, 45%, 71%);
}

.twoo {
    background-color: hsl(208, 49%, 77%);
}

.threee {
    background-color: hsl(140, 75%, 76%);
}

.fourr {
    background-color: rgb(230, 236, 117);
}

.fivee {
    background-color: hsl(0, 77%, 73%);
}

ol {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: antiquewhite;
    text-shadow: 2px 2px 4px #5a5757;
}